.goods {
    &__logo {
        text-align: center;
    }
    &__title {
        font-size: 54px;
        text-align: center;
    }
    &__subtitle {
        font-size: 20px;
        font-weight: bold;
        text-align: center;
    }
    

}